body {
  margin: 0;
  overflow: hidden;
}

text {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #067A46;
}

h1 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  width: 650px;
  background-color: #067A46;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.plot{
  width: 650px;
  height: 450px;
  margin: auto;
  background-color: #F8FFDB;
  padding: 20px;
}

.x-axis{
  color: #067A46;
}

.y-axis{
  color: #067A46;
}
